<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990607831936-3bpsqqh7oc94lb3an0bqjnmvr9bpm3lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990607831936-3bpsqqh7oc94lb3an0bqjnmvr9bpm3lq</string>
	<key>API_KEY</key>
	<string>AIzaSyC4GOm4CJFuLX501n-P0DJhc_zYDWhdSoc</string>
	<key>GCM_SENDER_ID</key>
	<string>990607831936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sihapp</string>
	<key>PROJECT_ID</key>
	<string>android-chat-bot-dc777</string>
	<key>STORAGE_BUCKET</key>
	<string>android-chat-bot-dc777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990607831936:ios:09ae6780457e3766568765</string>
	<key>DATABASE_URL</key>
	<string>https://android-chat-bot-dc777-default-rtdb.firebaseio.com</string>
</dict>
</plist>